@import url(https://fonts.google.com/specimen/Red+Hat+Display);

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.card {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
}

.card__container {
    height: 600px;
    width: 400px;
    border: 20px;
    border-radius: 20px;
    background-color: white;
}

.card__img {
    height: 200px;
}

.con__img {
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.card__text {
    padding: 0 30px;
}

.card__text--heading {
    margin-top: 20px;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.card__text--info {
    margin-top: 20px;
    font-size: 20px;
    color: hsl(224, 23%, 55%);
    text-align: center;
}

.order {
    background-color: hsl(225, 100%, 98%);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 20px;
    padding: 25px 25px;
}

.img__plan {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.con__img2 {
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

.order__plan {
    display: flex;
    flex-direction: column;
}

.order__plan--annual {
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    font-weight: bold;
}

.order__plan--price {
    color: hsl(224, 23%, 55%);
}

#order__removed {
    display: flex;
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
    background-color: hsl(245, 75%, 52%);
    width: 100%;
}

.submit__payment {
    color: white;
    text-align: center;
}

.cancel__payment {
    margin-top: 20px;
    color: hsl(224, 23%, 50%);
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

#order__removed:hover {
    color:  hsl(224, 23%, 50%);
}

.submit:hover {
    background-color: hsl(224, 23%, 50%);
}

.cancel__payment:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    .card__container {
        width: 300px;
        height: 480px;
        border-radius: 10px;
        background-color: #fff;
    }

    .card__img {
        height: 150px;
    }

    .con__img {
        width: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card__text {
        padding: 0 20px;
    }

    .card__text--heading {
        margin-top: 15px;
        font-size: 20px;
    }

    .card__text--info {
        margin-top: 15px;
        font-size: 15px;
        text-align: center;
    }

    .order {
        width: 90%;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        padding: 15px 15px;
    }

    .img__plan {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .con__img2 {
        width: 15px;
        height: 15px;
        border-radius: 8px;
    }

    .order__plan {
        flex-direction: column;
        margin-top: 5px;
    }

    .order__plan--annual {
        font-size: 15px;
    }
}